.digitalClock {
    font-family: courier;
    font-size: 3em;
    background-color: #333333;
    background-image: linear-gradient(180deg, #7d7d7d 25%, #333333 25%, #333333 50%, #7d7d7d 50%, #7d7d7d 75%, #333333 75%, #333333 100%);
    background-size: 8.00px 8.00px;
    color: #ffc516;
    border-radius: 8px;
    display: inline-block;
    padding: 5px;
}

#clockFace {
    background-image: url("/images/romanClockFace.png");
    width: 300px;
    height: 300px;
    position: relative;
}

#secondHand {
    position: absolute;
    width: 120px;
    height: 4px;
    background-color: #F33;
    top: 148px;
    left: 118px;
    transform-origin: 30px 2px;
}

#minuteHand {
    position: absolute;
    width: 120px;
    height: 4px;
    background-color: #999;
    top: 148px;
    left: 118px;
    transform-origin: 30px 2px;
}

#hourHand {
    position: absolute;
    width: 60px;
    height: 6px;
    background-color: #333333;
    top: 147px;
    left: 149px;
    transform-origin: 0% 3px;
}

#pin {
    border-radius: 50px;
    background-color: #666666;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 140px;
    left: 140px;
}

/* main styles */

/*Variables*/
:root {
    --animation-speed: 0.4s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

header {
    height: 100px;
    background-image: url("/images/topbanner.jpg");
    position: relative;
}

h1 {
    position: absolute;
    top: 25px;
    left: 5px;
    background: rgba(255, 255, 255, 0.8);
    padding: 6px 16px;
    border-radius: 8px;
}

h1 span {
    position: relative;
}

.l1 {
    animation: letterBounce var(--animation-speed) ease-out 0s;
}

.l2 {
    animation: letterBounce var(--animation-speed) ease-out 0.1s;
}

.l3 {
    animation: letterBounce var(--animation-speed)ease-out 0.2s;
}

.l4 {
    animation: letterBounce var(--animation-speed) ease-out 0.3s;
}

.l5 {
    animation: letterBounce var(--animation-speed) ease-out 0.4s;
}

.l6 {
    animation: letterBounce var(--animation-speed) ease-out 0.5s;
}

.l7 {
    animation: letterBounce var(--animation-speed) ease-out 0.6s;
}

.l8 {
    animation: letterBounce var(--animation-speed) ease-out 0.7s;
}

nav {
    background: rgba(255, 255, 255, 0.8);
    padding: 2px 4px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding-bottom: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 5px;
    border-left: 1px solid #ddd;
}

nav ul li a:hover {
    background-color: #4CAF50;
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
}

.contentLeft {
    flex-basis: 60%;
    padding: 15px;
    margin: 10px 0;
}

.contentRight {
    flex-basis: 40%;
    padding: 15px;
    margin: 10px 0;
}

.staffFlex {
    display: flex;
    gap: 10px;
}

.staffDetails {
    margin-top: 20px;
    background-color: #ddd;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #fff;
    font-weight: 100;
}

th,
td {
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

label {
    display: block;
    margin-top: 15px;
}

input {
    padding: 5px;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
}

footer {
    clear: left;
    border-top: 1px solid #CCC;
    margin: 5px 0;
    padding: 15px;
    text-align: center;
    font-size: 0.7em;
}

@keyframes letterBounce {
    0% {
        bottom: 0;
    }

    25% {
        bottom: 15px;
    }

    100% {
        bottom: 0;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        max-width: 1200px;
        margin: auto;
    }

    header {
        height: 200px;
    }

    nav {
        padding: 2px 10px;
    }

    h1 {
        top: 122px;
        left: 50px;
    }

    .main {
        flex-direction: row;
    }
}